/.github/                 @edgegamers/s2s-maintainers
/.changeset/              @edgegamers/s2s-maintainers
/scripts/                 @edgegamers/s2s-maintainers
/packages/                @edgegamers/s2s-platform
/licenses/                @edgegamers/s2s-platform
